.square {
	position: relative;
	width: 100%;
}

.square-setup {
	position: relative;
	width: 100%;
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 40%;
}

.square-setup:after {
	content: "";
	display: block;
	padding-bottom: 10%;
}

.content {
	position: absolute;
	width: 100%;
}

@keyframes login-animation {
	from {
		right: 500px;
		box-shadow: 0px 0px 0px grey; 
	}
	to {
		right:0px;
		box-shadow: -5px 5px 10px grey; 
	}
}

@keyframes signup-animation {
	from {
		left: 500px;
		box-shadow: 0px 0px 0px grey; 
	}
	to {
		left:0px;
		box-shadow: 5px 5px 10px grey; 
	}
}

#login, #logout {
	box-shadow: -5px 5px 10px grey; 
	animation-name: login-animation;
	animation-duration: 0.5s;
}

#signup, #welcome {
	animation-name: signup-animation;
	animation-duration: 0.5s;
	box-shadow: 5px 5px 10px grey; 
}

.square-title {
	padding: 30px;
}

.btn-1{
	display: inline-block;
	position: relative;
	background: none;
	border: none;
	font-size: 50px;
	cursor: pointer;
	margin: 20px 30px;
}

.btn-login {
	display: inline-block;
	position: relative;
	background: none;
	border: none;
	font-size: 35px;
	cursor: pointer;
	margin: 20px 30px;
}

.home_span{
	display: block;
	padding: 25px 80px;
}

.btn-1::before, .btn-1::after{
	content:"";
	width: 0;
	height: 2px;
	position: absolute;
	transition: all 0.2s linear;
	background: black;
}

.home_span::before, .home_span::after{
	content:"";
	width:2px;
	height:0;
	position: absolute;
	transition: all 0.2s linear;
	background: black;
}

.btn-1:hover::before, .btn-1:hover::after{
	width: 100%;
}

.btn-1:hover .home_span::before, .btn-1:hover .home_span::after{
	height: 100%;
}

.btn-1::before, .btn-1::after{
	transition-delay: 0.2s;
}

.btn-1 .home_span::before, .btn-1 .home_span::after{
	transition-delay: 0s;
}

.btn-1::before{
	right: 0;
	top: 0;
}

.btn-1::after{
	left: 0;
	bottom: 0;
}

.btn-1 .home_span::before{
	left: 0;
	top: 0;
}

.btn-1 .home_span::after{
	right: 0;
	bottom: 0;
}

.btn-1:hover::before, .btn-1:hover::after{
	transition-delay: 0s;
}

.btn-1:hover .home_span::before, .btn-1:hover .home_span::after{
	transition-delay: 0.2s;
}


.btn-login::before, .btn-login::after{
	content:"";
	width: 0;
	height: 2px;
	position: absolute;
	transition: all 0.2s linear;
	background: black;
}

.home_span::before, .home_span::after{
	content:"";
	width:2px;
	height:0;
	position: absolute;
	transition: all 0.2s linear;
	background: black;
}

.btn-login:hover::before, .btn-login:hover::after{
	width: 100%;
}

.btn-login:hover .home_span::before, .btn-login:hover .home_span::after{
	height: 100%;
}

.btn-login::before, .btn-login::after{
	transition-delay: 0.2s;
}

.btn-login .home_span::before, .btn-login .home_span::after{
	transition-delay: 0s;
}

.btn-login::before{
	right: 0;
	top: 0;
}

.btn-login::after{
	left: 0;
	bottom: 0;
}

.btn-login .home_span::before{
	left: 0;
	top: 0;
}

.btn-login .home_span::after{
	right: 0;
	bottom: 0;
}

.btn-login:hover::before, .btn-login:hover::after{
	transition-delay: 0s;
}

.btn-login:hover .home_span::before, .btn-login:hover .home_span::after{
	transition-delay: 0.2s;
}