{% extends "account/base.html" %}
{% load i18n %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
  <div class="row mt-4 w-100">
    <div class="offset-lg-2 col-lg-8">
      <div id="login" class="square-setup">
        <div class="square-title">
          <h1>
            {% trans "Two-Factor Authentication Backup Tokens" %}
          </h1>

          {% if backup_tokens %}
          {% if reveal_tokens %}
          <ul>
            {% for token in backup_tokens %}
            <li>{{ token.token }}</li>
            {% endfor %}
          </ul>
          {% else %}
          {% trans 'Backup tokens have been generated, but are not revealed here for security reasons. Press the button below to generate new ones.' %}
          {% endif %}
          {% else %}
          {% trans 'No tokens. Press the button below to generate some.' %}
          {% endif %}

          <form method="post">
            {% csrf_token %}
            <button type="submit">
              {% trans 'Generate backup tokens' %}
            </button>
          </form>

          <p><a href="{% url 'two-factor-remove' %}">Disable Two Factor</a></p>
          <p><a href="{% url 'home' %}">< Back to home</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}